﻿@model List<Warehouse.Domain.Entities.DeliveryType>

@{
    ViewBag.Title = "InformationAboutDelivery";
}

<h3>Informacje o dostawie:</h3>

<table class="table">
    @foreach (var type in Model)
    {

        <tr>
            <th class="text-primary">@type.Name</th>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => type.Name)
            </th>
            <td>
                @Html.DisplayFor(model => type.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => type.CostOfDeliveryType)
            </th>
            <td>
                @Html.DisplayFor(model => type.CostOfDeliveryType)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => type.AverageTimeDelivery)
            </th>
            <td>
                @Html.DisplayFor(model => type.AverageTimeDelivery) dni
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => type.Payment)
            </th>
            <td>
                @Html.DisplayFor(model => type.Payment)
            </td>
        </tr>
    }
</table>