﻿@using Warehouse.WebUI.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Warehouse</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <style>
        .Tlo {
            background-color:beige
        }
        textarea {
            resize: none
        }
    </style>
</head>
<body class="Tlo">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Warehouse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && Session["ClientId"] != null)
                {
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddProduct" ? "active" : "")">
                        @Html.ActionLink("Przeglądaj produkty", "List", "Product")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProductInfo" ? "active" : "")">
                        @Html.ActionLink("Złóż zamowienie", "ShowProducts", "Product")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "List" ? "active" : 
                                     ViewContext.RouteData.Values["Action"].ToString() == "ChooseDelivery" ? "active" : 
                                         ViewContext.RouteData.Values["Action"].ToString() == "Details" ? "active" : "")">
                        @Html.ActionLink("Zamowienia", "List", "Order")
                    </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Checkout" ? "active" : "")">@Html.ActionLink("Koszyk", "Checkout", "Order")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "InformationAboutDelivery" ? "active" : "")">@Html.ActionLink("Dostawa", "InformationAboutDelivery", "DeliveryType")</li>
                <li>@Html.ActionLink("Kontakt", "SendEmailForContact", "Home")</li>
                <li>@Html.ActionLink("Wyloguj", "Logout", "Client")</li>
                }
                else
                {
                <li>@Html.ActionLink("Przeglądaj produkty", "List", "Product")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "InformationAboutDelivery" ? "active" : "")">@Html.ActionLink("Dostawa", "InformationAboutDelivery", "DeliveryType")</li>
                <li>@Html.ActionLink("Kontakt", "SendEmailForContact", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">@Html.ActionLink("Rejestracja", "Register", "Client")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">@Html.ActionLink("Zaloguj", "Login", "Client")</li>
                }
                </ul>
            </div>
        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Gontek95</p>
            </footer>
        </div>
</body>
</html>