﻿@model Warehouse.Domain.Entities.Order

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.NetOrderValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.GrossOrderValue)
    </td>
    <td>
        @Model.OrderDate.ToString("g")
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Payment)
    </td>
    <td>
        <div style="margin-bottom: 3px; float:left">
            @using (Html.BeginForm("Details", "Order", FormMethod.Get))
            {
                <input type="number" name="id" value=@Model.Id hidden="true">
                <input type="submit" value="Szczegóły" class="btn btn-primary" />
            }
        </div>
        @if (Model.DeliveryId != null)
        {
            <div style="margin-left: 5px">
                @using (Html.BeginForm("Details", "Delivery", FormMethod.Get))
                {
                    <input name="id" value=@Model.Id hidden="true">
                    <input type="submit" value="Sprawdź dane dostawy" class="btn" style="background: lawngreen; " />
                }
            </div>
        }

        @if (Model.DeliveryId == null)
        {
            <div style="clear:both">
                @using (Html.BeginForm("ChooseDelivery", "Delivery", FormMethod.Get))
                {
                    <input name="idOrder" value=@Model.Id hidden="true">
                    <input type="submit" value="Określ dostawę" class="btn btn-primary btn-info" />
                }
            </div>
        }
        @if (Model.DeliveryId == null)
        {
            <div style="clear:both">
                @using (Html.BeginForm("Delete", "Order", FormMethod.Post))
                {
                    <input name="id" value=@Model.Id hidden="true">
                    <input type="submit" value="Usuń zamówienie" class="btn btn-primary btn-danger" />
                }
            </div>
        }
    </td>

</tr>

