﻿@model Warehouse.Domain.Entities.Product

<div class="well">
    <h3>
        @if (Model.ProductDetailses != null && Model.ProductDetailses.Count > 0)
        {
            @Html.Partial("ShowPicture",Model.ProductDetailses[0].PathPhoto)
        }
        @Html.ActionLink(Model.Name,"ProductInfo","Product",new {id = Model.Id},null)
        
        <span class="pull-right label label-primary">@Model.GetGrossProductValue().ToString("C")</span>
    </h3>

    @using (Html.BeginForm("AddToOrder", "Order"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Dodaj do zamówienia" />
        </div>
    }

    <span class="lead">Ilość: @Model.Quantity</span>
</div>