﻿
@{
    ViewBag.Title = "CompletedRegistration";
}

<h2 class="text-center">Zarejestrowano pomyślnie!</h2>
<p class="text-center"><strong>Witaj w naszej hurtowni. Zaloguj się aby zamówić wybrane produkty.</strong></p><br />

<div class="text-center">
    <img src="~/ProductPhotos/welcome-online-store.jpg" height="600" width="600"/>
</div>