﻿@model Warehouse.WebUI.Models.ClientVML

@{
    ViewBag.Title = "Login";

}

@using (Html.BeginForm("Login", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ReturnUrl)

    <h2>Logowanie</h2>
    <div class="form-horizontal">

    @if (TempData["LoginError"] != null)
    {
        <label class = "text-danger alert-danger"> @TempData["LoginError"] </label>
        <br /><br />
    }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
        @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRemember, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(s => s.IsRemember)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zaloguj" class="btn btn-default" />
            </div>
        </div>
    </div>
}