﻿
@{
    ViewBag.Title = "SessionExpired";
}

<h3 class="text-center">Sesja wygasła. </h3>
@using (Html.BeginForm("Login","Client"))
{
<div class="text-center">
    @Html.ActionLink("Zaloguj się","Login",null,new { @class="btn btn-primary"})
</div>
}

