﻿@model Warehouse.WebUI.Models.EmailModel

@{
    ViewBag.Title = "Contact";
}

<h3>Kontakt:</h3>
<p>Jeśli nie ma jakiegoś produktu w naszej hurtowni, napisz a na pewnie zrobimy co w naszej mocy aby go zdobyć.</p>

@using (Html.BeginForm("SendEmailForContact", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Send your comments.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="padding-bottom: 5px">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", htmlAttributes = "width: 300px" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="padding-bottom: 5px">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-lg-10" style="padding-bottom: 5px">
            @Html.TextAreaFor(m => m.Message, 10, 40, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="padding-bottom: 5px">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="padding-bottom: 5px">
            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" >
        @Html.LabelFor(m => m.Attachment, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="padding-bottom: 5px">
            <input type="file" name="upload" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Wyślij" />
        </div>
    </div>
}