﻿@model Warehouse.WebUI.Models.DeliveryAddressViewModel
@{
    ViewBag.Title = "ChooseDelivery";
}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="~/Scripts/jquery.validate.js"></script>    
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>    
    <script>
        $(document).ready(function () {
            $('#deliveryOk').prop('disabled', true);

        })
    </script>
    <script>
        $(document).ready(function () {
            $('#SelectedType').change(function () {
                if ($("#SelectedType option:selected").val() !== "") {
                    $('#deliveryOk').prop('disabled', false);
                }
                else {
                    $('#deliveryOk').prop('disabled', true);
                }
            })})
    </script>       
<h3>Wybierz opcje dostawy</h3>
<a>Wybór:</a>

<div>
    @using (Html.BeginForm("SetDelivery", "Delivery", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.LocalNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.LocalNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.LocalNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Postcode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
            </div>
            
        </div>
        <span><br/></span>
        <div>
            @Html.DropDownListFor(m => m.SelectedType, (SelectList) ViewBag.DeliveryTypes, "Wybierz opcje dostawy")
        </div>
        <a>Uwagi dotyczące przesyłki:</a>
        <div>
            @Html.TextAreaFor(m => m.Delivery.Comment, 10, 28, new { maxlength = 100 })
        </div>
        @Html.HiddenFor(m => m.SelectedType);
        @Html.HiddenFor(m => m.IdOrder);
        <input id="deliveryOk" type="submit" value="Zatwierdź" class="btn btn-primary btn-success" />
    }
</div>


