﻿@model Warehouse.WebUI.Models.DeliveryTypeViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Szczegóły dostawy</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryType.CostOfDeliveryType)
        </th>
        @if (Model.Delivery.ShippingDate != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.Delivery.ShippingDate)
            </th>
        }
        @if (Model.Delivery.DeliveryDate != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.Delivery.DeliveryDate)
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.DeliveryType.AverageTimeDelivery)
            </th>
        }
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Delivery.Id)
        </td>
        <td>
            @Html.DisplayFor(model => model.DeliveryType.Name)
        </td>
        <td>
            @Model.DeliveryType.CostOfDeliveryType.ToString("C")
        </td>
        @if (Model.Delivery.ShippingDate != null)
        {
            <td>
                @Html.DisplayFor(model => model.Delivery.ShippingDate)
            </td>
        }
        @if (Model.Delivery.DeliveryDate != null)
        {
            <td>
                @Html.DisplayFor(model => model.Delivery.DeliveryDate)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(model => model.DeliveryType.AverageTimeDelivery) dni
            </td>
        }
    </tr>

</table>
<br/>
<h3>Adres dostawy</h3>
<table class="table">
        @if (Model.Address.Street != null)
        {
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
                <td>
                    @Html.DisplayFor(model => model.Address.Street)
                </td>
            </tr>
        }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.LocalNumber)
        </th>
        <td>
            @Html.DisplayFor(model => model.Address.LocalNumber)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.City)
        </th>
        <td>
            @Html.DisplayFor(model => model.Address.City)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Postcode)
        </th>
        <td>
            @Html.DisplayFor(model => model.Address.Postcode)
        </td>
    </tr>
</table>