﻿@using Warehouse.Domain.Entities
@model Warehouse.WebUI.Models.OrderIndexViewModel

@{
    ViewBag.Title = "Warehouse: Your Order";
}

<h2>Twoje zamówienie</h2>
<table class="table">
    @if (Model.Order.PositionsOrder != null && Model.Order.PositionsOrder.Count > 0)
    {
        <thead>
            <tr>
                <th>Ilość</th>
                <th class="text-center">Przedmiot</th>
                <th class="text-right">Cena Brutto</th>
                <th class="text-right">Wartość Brutto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model.Order.PositionsOrder)
            {
                <tr>
                    <td class="text-left">@position.Quantity</td>
                    <td class="text-center">@position.Name</td>
                    <td class="text-right">@position.GetGrossProductValue().ToString("c")</td>
                    <td class="text-right">
                        @((position.Quantity * position.GetGrossProductValue()).ToString("c"))
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromOrder", "Order"))
                        {
                            @Html.Hidden("productId", position.ProductId)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-warning" type="submit" value="Usuń" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Suma:</td>
                <td class="text-right">
                    @Model.Order.CalculateGrossValueOrder().ToString("c")
                </td>
            </tr>
        </tfoot>
    }
    else
    {
        <div class = "text-info text-center alert-info">
            @ViewData["EmptyCheckout"]
        </div>
    }

</table>
<div class="text-center">
    <a class="btn btn-primary" href="@(Model.ReturnUrl ?? "/Product/ShowProducts") ">Kontyuunuj zakupy</a>
    @using (Html.BeginForm("MakeOrder", "Order", FormMethod.Post))
    {
        if (Model.Order.PositionsOrder != null && Model.Order.PositionsOrder.Count > 0)
        {
            <input type="submit" class="btn btn-primary" value="Złóż zamówienie" />
        }
        else
        {
            <input type="submit" class="btn btn-primary disabled" value="Złóż zamówienie" />
        }


    }
</div>

