﻿@model IEnumerable<Warehouse.Domain.Entities.PositionOrder>

@{
    ViewBag.Title = "OrderDetails";
    int i = 1;
}

<h3>Szczegóły zamówienia</h3>

<table class="table">
    <tr>
        <th> </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetProductValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vat)
        </th>
        <th>
            @Html.DisplayName("Cena brutto")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetProductValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)%
            </td>
            <td>
                @item.GetGrossProductValue().ToString("C")
            </td>
        </tr>
        i++;
    }

</table>

