﻿@using Warehouse.Domain.Entities
@using Warehouse.WebUI.HtmlHelpers
@model Warehouse.WebUI.Models.Pagination.EntitiesListViewModel<Order>
@{
    ViewBag.Title = "OrderList";
}

<h3>Zamówienia</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.NetOrderValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.GrossOrderValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Payment)
        </th>
        <th></th>
    </tr>
    @foreach (var order in Model.Entities)
    {
        @Html.Partial("OrderSummary",(Order)order)
    }

</table>
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x}))
</div>
