﻿@model Warehouse.Domain.Entities.Product

@{
    ViewBag.Title = "AddingProduct";
}

<h2>Dodawanie produktu</h2>

<strong class="alert-success"> @ViewBag.MessageOKAddProductWithPic</strong>
<strong class="alert-success"> @ViewBag.MessageOKAddProduct</strong>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetProductValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetProductValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NetProductValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <label for="file">Prześlij Zdjęcie produktu:</label>
            <input type="file" name="file" id="file" />

            @Html.ValidationMessage("WrongExtesionOfFile", "", new { @class = "text-danger" })
            @Html.ValidationMessage("WrongSizeOfFile", "", new { @class = "text-danger" })
        </div>
        <script>
            $('#file').bind('change', function() {
                if (this.files[0].size > (@ViewBag.MaxSizeFilekB)) {
                    alert("Błąd! Maksymalny dopuszczalny rozmiar pliku to 5Mb!");
                    $("#file").val('');
                } if (this.files[0].size <= (@ViewBag.MaxSizeFilekB)) {
                    alert("Załadowano plik! Wielkość: " + (this.files[0].size / 1024000).toFixed(2) + "Mb"); //+ (files[0].size / 1024000)
                }
            });
        </script>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj produkt" class="btn btn-success" />
            </div>
        </div>
    </div>
}