﻿@using Warehouse.WebUI.HtmlHelpers
@model Warehouse.WebUI.Models.Pagination.EntitiesListViewModel<Warehouse.Domain.Entities.Product>
@{
    TempData["Controller"] = ViewContext.RouteData.Values["controller"].ToString();
    TempData["Action"] = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutWithCategories.cshtml";
}

<h3>Produkty</h3>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("AddProduct", "Product", FormMethod.Get))
    {
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Dodaj produkt" />
        </div>
    }
    <br />
}
@using (Html.BeginForm("SearchProducts", "Product", FormMethod.Get))
{
    <input type="text" name="phrase" minlength="3" />
    <input class="btn btn-info" type="submit" value="Szukaj" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.NetProductValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.GetEnumerator().Current.Vat)
        </th>
        <th>
            Cena jednostkowa Brutto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetProductValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)%
            </td>
            <td>
                @item.GetGrossProductValue().ToString("C")
            </td>
        </tr>
    }

</table>
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                new { page = x, category = Model.CurrentCategory }))
</div>