﻿@model Warehouse.Domain.Entities.Product

@{
    ViewBag.Title = "ProductInfo";
}

<h2>Informacje o produkcie:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NetProductValue)
        </th>
        <td>
            @Html.DisplayFor(model => model.NetProductValue)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <td>
            @Html.DisplayFor(model => model.Quantity)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vat)
        </th>
        <td>
            @Html.DisplayFor(model => model.Vat)%
        </td>
    </tr>
    <tr>
        <th>
            Cena jednostkowa Brutto
        </th>
        <td>
            @Model.GetGrossProductValue().ToString("C")
        </td>
    </tr>
    @if (Model.ProductDetailses != null)
    {
        <tr>
            <th>
                Zdjęcia:
            </th>
        </tr>
        foreach (var detail in Model.ProductDetailses)
        {
            <tr>
                <td>
                    <img src="@detail.PathPhoto" height="500" width="500"/>
                </td>
            </tr>
        }
    }
</table>

