﻿@using Warehouse.Domain.Entities
@using Warehouse.WebUI.HtmlHelpers
@model Warehouse.WebUI.Models.Pagination.EntitiesListViewModel<Product>
@{
    TempData["Controller"] = ViewContext.RouteData.Values["controller"].ToString();
    TempData["Action"] = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutWithCategories.cshtml";
}

<h3>Twoje zamówienie</h3>
<div class="text-danger">
    <strong>@TempData["ProductIsNull"]</strong>
</div>
@using (Html.BeginForm("SearchProductsForOrder", "Product", FormMethod.Get))
{
    <input type="text" name="phrase" minlength="3"/>
    <input class="btn btn-info" type="submit" value="Szukaj"/>
}
<br/>
@if (Model.Entities.Count > 0)
{
     foreach (var prod in Model.Entities)
     {
         @Html.Partial("ProductSummary", prod)
     }
}
else
{
    <p class="alert-info"><strong>Przykro nam. Nic nie znaleźliśmy.</strong></p>
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ShowProducts", 
        new { page = x, category = Model.CurrentCategory  }))
</div>

